@*Tecnlogia de View - Razor*@

@model List<Produto>

@{ Layout = "~/Views/Shared/_Layout.cshtml";
    int quantidade = ViewBag.Quantidade; }


<h3 class="espacamento-baixo">Gerenciamento de Produtos</h3>

<a asp-action="Cadastrar" asp-controller="Produto"
   class="btn btn-info espacamento-baixo">
    Cadastrar Produto
</a>

<table class="table table-hover table-striped
               espacamento-baixo">
    <thead>
        <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Quantidade</th>
            <th>Preço</th>
            <th>Criado em</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Produto produtoCadastrado in Model)
        {
<tr>
    <td>@produtoCadastrado.Id</td>
    <td>@produtoCadastrado.Nome</td>
    <td>@produtoCadastrado.Descricao</td>
    <td>@produtoCadastrado.Quantidade</td>
    <td>@produtoCadastrado.Preco.ToString("C2")</td>
    <td>@produtoCadastrado.CriadoEm</td>
    <td>
        <a asp-action="Remover" asp-controller="Produto"
           asp-route-id="@produtoCadastrado.Id">
            Remover
        </a>
    </td>
    <td>
        <a asp-action="Alterar" asp-controller="Produto"
           asp-route-id="@produtoCadastrado.Id">
            Alterar
        </a>
    </td>
</tr>
}
    </tbody>
</table>

<p><b>Quantidade de registros: </b> @quantidade</p>
<p><b>Atualizado em: </b> @DateTime.Now </p>
